<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, minimum-scale=1">
  </head>
  <body>
    <header id = "main_header">
      <hr id = "header_hr">
      <h1><a href="/">동성인친목회 비공식 홈페이지</a></h1>
    </header>
        <h1>LOGOUT</h1>
        <form method="post" action="/logout">
        <p>로그아웃</p>
        <p><a href="/">홈</a></p>
        <input type="submit" value="LOGOUT">
        </form>
  </body>
</html>